<a href="https://colab.research.google.com/github/mahajantwinkle99/add-to-gitnor/blob/main/R_Experiment2_writeup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Vectors R Programming**

The simplest and most common data structure in R is the vector. Vectors come in two different flavors: atomic vectors and lists. An atomic vector contains exactly one data type, whereas a list may contain multiple data types.

Atomic vectors include logical, character, integer, and complex. Logical vectors can contain the values TRUE, FALSE, and NA (for 'not available').These values are generated as the result of logical 'conditions'.

Complet following couple of code cell to genearate a logical vector in variable logic_vect

In [ ]:
# Create a vector num_vect with values -100, 0.55, 45, 5466
num_vect<-c(-100,0.55,45,5466)
num_vect

[1] -100.00    0.55   45.00 5466.00

In [ ]:
#Now, create a variable called logic_vect that gets the result of num_vect <= 0.55, which is read as 'num_vect is less than 0.55'.

In [1]:
num_vect<-c(-99,0.55,54,5477)
num_vect

[1]  -99.00    0.55   54.00 5477.00

If you print logic_vect. you will see that is is a logical vector with 4 values. Print logic_vect in cell below to verify it

In [8]:
#print logic_vect

In [4]:
#Type num_vect >= 6 and note the output

Character vectors

Character vectors are also very common in R. Double quotes are used to distinguish character objects.

In [ ]:
# Create a character vector that contains the following words: "My", "name", "is". 
#Remember to enclose each word in its own set of double quotes, 
#so that R knows they are character strings. Store the vector in a variable called char_vect.

In [9]:
# print the char_vect

In [ ]:
#use paste(char_vect, collapse=" ")

Explain What difference you see in above two code blocks

 My explaination
 ss
 
 fsdfsd
 fsfd
 fsdf

In [15]:
# add your name as an element to char_vect and paste complete sentence saying "My name is <your name>"

my name is twinkle
>

In [14]:
#Execute this code block
paste("Hello","World!",collapse=" ")

[1] "Hello World!"

Explain output of code block above.

In [20]:
#Execute this 
paste(1:3, c("X", "Y", "Z"), sep = ":")

[1] "1:X" "2:Y" "3:Z"

In [ ]:
its is a matrix multiplication .number is multiply by x,y,z vector

Explain output of above code block

In [21]:
#Executes this LETTERS is 
paste(LETTERS, 1:10, sep = "-")

 [1] "A-1"  "B-2"  "C-3"  "D-4"  "E-5"  "F-6"  "G-7"  "H-8"  "I-9"  "J-10"
[11] "K-1"  "L-2"  "M-3"  "N-4"  "O-5"  "P-6"  "Q-7"  "R-8"  "S-9"  "T-10"
[21] "U-1"  "V-2"  "W-3"  "X-4"  "Y-5"  "Z-6"

In [ ]:
here sis arrange the alphabet in numaric format

Explain output of above code block

**Write R code to Solve Following**
1.   To begin with create a vecor **a** of 20 random values from Std Normal Variable.
2.   Creat another vector **b** of 20 NA values. Also create vector x
3.   Sample 20 values from above two vectors. 
4.   Subset  10th to 15th element from x to generate sample y
5.   Count NAs in vector x and y